@import "tailwindcss";

@theme {
	--color-fac-red: "#990000";
	--color-fac-orange: "#ff9900";
	/* black: '#000000', */
	/* 'black-light': '#222222', */
	/* 'grey-darkest': '#3d4852', */
	/* 'grey-darker': '#606f7b', */
	/* 'grey-dark': '#8795a1', */
	/* grey: '#c9c9c9', */
	/* 'grey-light': '#dae1e7', */
	/* 'grey-lighter': '#f1f5f8', */
	/* 'grey-lightest': '#f8fafc', */
	/* white: '#ffffff', */
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html {
	text-rendering: optimizeLegibility;
}

html,
body {
	scroll-behavior: smooth;
}

*,
::before,
::after {
	box-sizing: border-box;
}

/* ******** Typography ********** */

/*
h1,
h2,
h3,
h4 {
	@apply font-raleway my-4 font-black text-white;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl font-bold;
}

h4 {
	@apply text-xl font-bold;
}

p {
	@apply text-lg;
}
*/

/*
.active-page > ul {
	display: block;
}

.active-page > a::after,
.active-subpage > a::after {
	@apply pl-1;

	content: "\203A";
}
*/
