@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
    text-rendering: optimizeLegibility;
}

html, body {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box;
}

a {
    @apply border-b border-dotted border-grey-lighter no-underline text-white;

    &:focus,
    &:hover {
        @apply border-b border-solid border-fac-orange text-fac-orange;
    }
}
