@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

html {
	text-rendering: optimizeLegibility;
}

html,
body {
	scroll-behavior: smooth;
}

*,
::before,
::after {
	box-sizing: border-box;
}

a {
	@apply border-b-2 border-dotted border-grey-lighter no-underline text-white;
}

a:focus,
a:hover {
	@apply border-b-2 border-solid border-fac-orange text-fac-orange;
}

/* ************* Naviation ************** */

.register.navbar .register {
	display: none;
}

.home .home > ul,
.classes .classes > ul {
	display: block;
}

.active-subpage a {
	@apply cursor-default text-white;
}

.home .home a::after,
.classes .classes a::after,
.active-subpage a::after {
	@apply pl-1;

	content: '\203A';
}

.navbar li a:not(.button):hover::after,
.navbar li a:not(.button):focus::after {
	@apply pl-1;

	content: '\203A';
}

/* ******** Typography ********** */

h1,
h2,
h3,
h4 {
	@apply font-raleway font-black text-white my-4;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl font-bold;
}

h4 {
	@apply text-xl font-bold;
}

p {
	@apply text-lg;
}

.button {
	@apply border-b-0 font-semibold inline-block px-8 py-3 no-underline;

	&:focus,
	&:hover {
		@apply border-b-0;
	}
}

.button--primary {
	@apply bg-fac-red text-white;

	&:focus,
	&:hover {
		background-color: color(theme('colors.fac-red') shade(20%));
		color: theme('colors.white');
	}
}
