---
import Link from '@/components/Link.astro';
import Text from '@/components/Text.astro';
import { Image } from 'astro:assets';

interface Props {
	title: string;
	link: string;
	slug: string;
	summary: string;
	image?: any;
	// image?: TypeImage;
}

const { title, link, slug, summary, image } = Astro.props;

// @TODO:
// - make a utility for this mess and improved typing
// - create a fallback image if none provided in the CMS?
const imageSrc = image?.file?.url;
const imageWidth = image?.file?.details?.image?.width;
const imageHeight = image?.file?.details?.image?.height;
---

<div
	class='group ring-fac-orange relative rounded ring-1 transition-shadow duration-300 focus-within:ring-4 hover:ring-4'
>
	{
		imageSrc && (
			<div class='overflow-hidden rounded'>
				<Image
					src={imageSrc}
					class='w-full duration-500 ease-in-out group-hover:scale-110 group-focus:scale-110'
					alt=''
					width={imageWidth || '700'}
					height={imageHeight || '467'}
				/>
			</div>
		)
	}
	<div class='p-4'>
		<Text as='h3' class='text-lg'>
			<Link
				href={link}
				class='outline-0 after:absolute after:inset-0 after:z-10'
			>
				{title}
			</Link>
		</Text>
		<p class='relative z-20 mt-2 text-sm text-gray-600'>
			{summary}
		</p>
	</div>
</div>
