---
import Link from '@/components/Link.astro';
import { type TypeNavItemDetail } from '@/components/Navigation/constants';

interface Props {
	subNavItems: TypeNavItemDetail[];
}

const { subNavItems } = Astro.props;
---

<ul class='mt-4 list-none p-0'>
	{
		subNavItems.map((subpage) => (
			<li class={subpage.class}>
				<Link isNavLink href={subpage.url}>
					{subpage.name}
				</Link>
			</li>
		))
	}
</ul>
