---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';
import NavigationTrigger from '../components/Navigation/NavigationTrigger.astro';

interface Props {
	title?: string;
}

const { title = 'Fire Arts Center of Chicago' } = Astro.props;
---

<a
	class='bg-fac-red sr-only text-xs font-bold focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:px-3 focus:py-2'
	href='#content'
>
	Skip to content
</a>

<div class='md:col-span-3 md:col-start-1'>
	<Image
		src='/images/bronze-pouring-header.jpg'
		class='block md:w-auto md:w-full'
		alt='A crucible of molten bronze being poured in a ceramic mold'
		priority={true}
		width='720'
		height='263'
	/>
</div>

<Link
	class='hidden border-b-0 hover:border-b-0 focus:border-b-0 md:block'
	href='/'
>
	{/* same text as title below, so no alt */}
	<Image src='/fac-logo.svg' alt='' width={241} height={251} priority />
</Link>
<div
	class='bg-fac-red flex w-full items-center justify-between gap-4 px-4 py-2 md:col-span-5 md:col-start-1 md:block'
>
	<NavigationTrigger class='block md:hidden' targetId='mobileNav'>
		<Icon size='36px' name='bars' />
	</NavigationTrigger>
	<h1
		class='not-sr-only m-0 min-h-10 max-w-2/3 text-right font-serif text-3xl font-black text-white md:sr-only md:max-w-none md:text-4xl'
	>
		{title}
	</h1>
</div>
