---
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';

interface Props {
	title?: string;
}

const { title = 'Fire Arts Center of Chicago' } = Astro.props;
---

<a
	id='skip'
	class='absolute -m-px h-px w-px overflow-hidden border-0 p-0 text-xs no-underline focus:top-2 focus:left-2 focus:h-auto focus:w-auto focus:border-0 focus:p-4'
	href='#content'
>
	Skip to content
</a>

<header
	class='mb-4 md:col-span-5 md:col-start-1 md:mb-0 md:grid md:grid-cols-4 md:items-center'
>
	<div class='md:col-span-3 md:col-start-1'>
		<Image
			src='/images/bronze-pouring-header.jpg'
			class='block md:w-auto md:w-full'
			alt='A crucible of molten bronze being poured in a ceramic mold'
			priority={true}
			width='720'
			height='263'
		/>
	</div>

	<Link
		class='hidden border-b-0 hover:border-b-0 focus:border-b-0 md:block'
		href='/'
	>
		<Image src='/fac-logo.svg' alt='' width={241} height={251} priority />
	</Link>
	<h1
		class='bg-fac-red m-0 w-full px-4 py-2 text-right font-serif text-4xl font-black text-white md:col-span-5 md:col-start-1'
	>
		{title}
	</h1>
</header>
