---
import { Icon } from 'astro-icon/components';
---

<button
	class='relative grid place-content-center rounded-full border-3 border-white bg-fac-orange/75 p-4 text-white shadow-lg transition-all ease-in-out hover:scale-110 hover:cursor-pointer hover:bg-fac-orange hover:shadow-2xl'
	aria-label='Play Video'
>
	<Icon size='50px' name='play' />
</button>
