---
import { contentfulClient } from '@/lib/contentful';
import { type EntryFieldTypes } from 'contentful';
// import ClassInfo from '@/app/components/ClassInfo';
// import FigureStudyPrefix from '@/app/components/FigureStudyPrefix';

interface Class {
	contentTypeId: 'class';
	fields: {
		slug: EntryFieldTypes.Text;
		name: EntryFieldTypes.Text;
	};
}

interface Props {
	id: string;
}

const classes = await contentfulClient.getEntries<Class>({
	content_type: 'class',
});

console.log({ classes });
---

<h2>test</h2>
