---
import HTMLHead from '../components/HTMLHead.astro';
import Header from '@/components/Header.astro';
import Navigation from '@/components/Navigation/Navigation.astro';
// import Footer from '@/app/components/Footer';
// import GTM from '@/app/components/GTM';
---

<html lang='en'>
	<head>
		<HTMLHead />
	</head>
	<body
		class='bg-[#d6dbdc] bg-gradient-to-b from-transparent to-white text-black dark:bg-black dark:to-black dark:text-white'
	>
		{/*<GTM />*/}
		<div id='top' class='mx-auto max-w-4xl md:grid md:grid-cols-4 md:gap-4'>
			<Header />
			<aside class='col-span-1 col-start-1'>
				<Navigation />
			</aside>
			<main
				id='content'
				class='px-4 sm:py-4 md:col-span-3 md:col-start-2 md:py-4'
			>
				<slot />
			</main>
		</div>
		{/*<Footer navItems={mainNav} />*/}
	</body>
</html>
