---
import HTMLHead from '../components/HTMLHead.astro';
// import '@/app/globals.css';
// import {Raleway} from 'next/font/google';
// import Header from '@/app/components/Header';
// import Navigation from '@/app/components/Navigation/Navigation';
// import Footer from '@/app/components/Footer';
// import GTM from '@/app/components/GTM';
// import {mainNav} from '@/app/components/Navigation/constants';

/**
 * TODO
 * - add canonical url
 * - fix h1 tag to include page name
 *
 */

// const raleway = Raleway({
// 	weight: ['700', '900'],
// 	subsets: ['latin'],
// 	display: 'swap',
// 	variable: '--font-raleway',
// });
---

<html lang='en'>
	<head>
		<HTMLHead />
	</head>
	<body class='bg-black-light text-gray font-sans'>
		{/*<GTM />*/}
		<div id='top' class='mx-auto max-w-4xl md:grid md:grid-cols-4 md:gap-4'>
			{/*<Header />*/}
			{/*<Navigation navItems={mainNav} />*/}
			<main
				id='content'
				class='px-4 sm:py-4 md:col-span-3 md:col-start-2 md:py-4'
			>
				<slot />
			</main>
		</div>
		{/*<Footer navItems={mainNav} />*/}
	</body>
</html>
