---
import Layout from '@/layouts/Layout.astro';
import Link from '@/components/Link.astro';
import { org } from '@/constants';
import PageSection from '@/components/PageSection.astro';
---

<Layout metaData={{}}>
	<PageSection title={`${org.name} Events`}>
		<p>
			There are no events currently scheduled, but that doesn’t mean you can’t
			stop by.
		</p>
		<p>
			<Link href='/location/'
				>Visit the {org.name} today and make your own event.</Link
			>
		</p>
		<p>
			If you are looking for class schedules, please visit our <Link
				href='/classes/'>classes page</Link
			>. The schedule is rolling for some of our classes so please <Link
				href='/contact-us/'
				>contact us with any other questions about updates</Link
			>.
		</p>
	</PageSection>
</Layout>
